*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 1300px;
    margin: auto;
    font-family: sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #CBD5F5;
    cursor: pointer;
}

.link:hover{
    color: #38BDF8;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

ul{
    display: flex;
    gap: 17px;
    font-weight: 500;
}

.logo{
    font-weight: 790;
    color: #38BDF8;
}

.intro{
    width: 100%;
    height: 460px;
    background-color: #020617;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 20px;
}

.main_title{
    color: white;
    font-size: 50px;
}

.main_p{
    color: #94A3B8;
}

.explore_btn{
    width: 178px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #38BDF8;
    font-size: 15px;
    cursor: pointer;
}

.explore_btn:hover{
    background-color: #2792c0;
}

.products{
    height: 590px;
    background-color: #0F172A;
    width: 100%;
    text-align: center;
}

.products_title{
    color: white;
    font-size: 35px;
    padding-top: 50px;
}

.cards{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.a_card{
    flex-wrap: wrap;
    width: 1400px;
    margin: auto;
    padding-top: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.card{
    width: 327px;
    height: 390px;
    border-radius: 14px;
    padding: 20px;
    background-color: #020617;
    transition: 0.3s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
    cursor: pointer;
}

.card:hover{
    transform: translateY(-8px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.footer{
    width: 100%;
    height: 81px;
    background-color: #020617;
}

.footer_text{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #64748b;
    padding-top: 30px;
}


#main_title{
    padding-top: 60px;
    padding-bottom: 18px;
}

form{
    padding-top: 80px;
}

.input{
    width: 220px;
    height: 43px;
    border-radius: 8px;
    border: none;
    background-color: #020617;
    padding-left: 18px;
    color: white;
    outline: none;
}

.logo_link{
    cursor: pointer;
}

.category{
    color: #94a3b8;
    padding-top: 10px;
}

.price{
    color: #38bdf8;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

.card_text{
    text-align: start;
}

#products{
    width: 100%;
    font-family: sans-serif;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2500px;
}

#loader{
    margin-top: 60px;
    color: green;
}